In [36]:
from sklearn.model_selection import train_test_split
import pandas as pd
import fs


INTERIM_PROJECT_DIR = fs.open_fs("../../data/interim/project")
INTERIM_FILE_NAME = INTERIM_PROJECT_DIR.getsyspath("hmeq_clean.csv")

PROCESSED_PROJECT_DIR = fs.open_fs("../../data/processed/project")
X_TRAIN_DIR = PROCESSED_PROJECT_DIR.getsyspath("x_train.csv")
X_TEST_DIR = PROCESSED_PROJECT_DIR.getsyspath("x_test.csv")
X_VAL_DIR = PROCESSED_PROJECT_DIR.getsyspath("x_val.csv")
Y_TRAIN_DIR = PROCESSED_PROJECT_DIR.getsyspath("y_train.csv")
Y_TEST_DIR = PROCESSED_PROJECT_DIR.getsyspath("y_test.csv")
Y_VAL_DIR = PROCESSED_PROJECT_DIR.getsyspath("y_val.csv")

In [37]:
df = pd.read_csv(INTERIM_FILE_NAME)
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,10.000000,15.388176,13.293101,1,2,33.048780,10.0,10.0,17.269950,15.294118,21.408451,10.0
1,1,10.202703,25.394466,16.411065,1,2,25.365854,10.0,22.0,19.385966,10.000000,27.746479,10.0
2,1,10.405405,12.589594,10.923448,1,2,18.780488,10.0,10.0,21.514821,15.294118,22.676056,10.0
3,1,10.405405,19.042635,15.519460,0,2,10.000000,10.0,10.0,17.896537,10.000000,30.281690,10.0
4,0,10.608108,31.677011,21.038920,1,1,16.585366,10.0,10.0,17.190343,10.000000,27.746479,10.0

In [38]:
target = "BAD"
X = df.drop(columns=[target]).copy()
y = df[target].copy()

Split datasets

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # 0.25 x 0.8 = 0.2

Saving DataFrames

In [40]:
X_train.to_csv(X_TRAIN_DIR, encoding='utf-8', index=False)
X_test.to_csv(X_TEST_DIR, encoding='utf-8', index=False)
X_val.to_csv(X_VAL_DIR, encoding='utf-8', index=False)

y_train.to_csv(Y_TRAIN_DIR, encoding='utf-8', index=False)
y_test.to_csv(Y_TEST_DIR, encoding='utf-8', index=False)
y_val.to_csv(Y_VAL_DIR, encoding='utf-8', index=False)